{{!-- Dog Image Gallery CDN Links --}}
<link href="/styles/imgGallery.css">

<div class="container-fluid">

    <h3>Dogs for Sale</h3>
    <!-- Grid row -->
    <div id="gallery" class="row">
        <div class="col-md-2"></div>
        <div id="col1" class="col-md-2">

            <div class="card" style="width: 18rem;">
                <a href="#"><img src="https://thumbs-prod.si-cdn.com/ej9KRK9frB5AXD6W9LXKFnuRc-0=/fit-in/1600x0/https://public-media.si-cdn.com/filer/ad/7b/ad7b3860-ad5f-43dc-800e-af57830cd1d3/labrador.jpg" class="card-img-top" alt="Dog Name Image"></a>
                <div class="card-body">
                    <h5 class="card-title">Dog Name</h5>
                </div>
            </div>

            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">
            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">

        </div>
        <div id="col2" class="col-md-2">

            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">
            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">

        </div>
        <div id="col3" class="col-md-2">

            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">
            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">

        </div>
        <div id="col4" class="col-md-2">

            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">
            <img class="dogImg" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(73).jpg"
                alt="Card image cap">

        </div>
        <div class="col-md-2"></div>
    </div>

</div>