<div class="container-fluid">

    <h3 id="dogPageTitle">Dogs for Sale</h3>
    <!-- Grid row -->
    <div id="gallery" class="row">
        <div class="col-md-2"></div>
        <div id="col1" class="col-md-2">

            

        </div>
        <div id="col2" class="col-md-2">

            

        </div>
        <div id="col3" class="col-md-2">

            

        </div>
        <div id="col4" class="col-md-2">

            

        </div>
        <div class="col-md-2"></div>
    </div>

</div>