{{!-- Slider CDN Links --}}
<link rel="slider stylesheet" href="/ism/css/my-slider.css" />
<script src="/ism/js/ism-2.2.min.js"></script>

<div class="container-fluid">

  {{!-- New Row --}}
  <div class="row">

      {{!-- Col --}}
      <div class="col-lg-5 text-center">

        <div class="home-body">
          <h3 id="aboutUs">Meet your new best friend</h3>
          <p id="aboutUsParagraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quas quaerat molestias rem deleniti harum atque neque, eos ab? Culpa, alias totam, eos neque nesciunt quisquam iusto voluptatibus. Hic quas quaerat molestias rem deleniti harum atque neque, eos ab? Culpa, alias totam, eos neque nesciunt quisquam iusto voluptatibus.</p>
        </div>
        
      </div>

      {{!-- Col --}}
      <div class="col-lg-7">
        <div class="blob-master">

          <div class="blob"></div>

          <div class="blob-picture">
            <img src="/img/golden.png">
          </div>
          
        </div>
      </div>
  </div>

  {{!-- New Row --}}
  <div class="row">
    <div class="bodyClearFix"></div>
  </div>

  {{!-- New Row --}}
  <div class="row">
    <div class="div-slider-holder">
      <div class="ism-slider" id="my-slider">
        <ol>
          <li>
            <img src="/ism/image/slides/pic1.jpg">
          </li>
          <li>
            <img src="/ism/image/slides/pic2.jpg">
          </li>
          <li>
            <img src="/ism/image/slides/pic3.jpg">
          </li>
        </ol>
      </div>
    </div>
  </div>