{{!-- Slider CDN Links --}}
<link rel="slider stylesheet" href="/ism/css/my-slider.css" />
<script src="/ism/js/ism-2.2.min.js"></script>

<div class="container-fluid">

  {{!-- New Row --}}
  <div class="row">

    {{!-- Col --}}
    <div class="col-lg-6 text-center">

      <div class="home-body">
        <h3 id="aboutUs">Meet your</h3>
        <h3 id="aboutUs2">New best friend</h3>
        <hr id="hr">
        <p id="aboutUsParagraph">At Hounders, our mission is to enable dog seekers to find their ideal pet. List, buy,
          or adopt a
          furry friend.</p>
      </div>

    </div>

    {{!-- Col --}}
    <div class="col-lg-6">
      <div class="blob-master">

        <div class="blob"></div>

      </div>
    </div>
  </div>

  {{!-- New Row --}}
  <div class="row">
    <div class="bodyClearFix"></div>
  </div>

  {{!-- New Row --}}
  <div class="row">
    <div class="div-slider-holder">
      <div class="ism-slider" id="my-slider">
        <ol>
          <li>
            <img src="/ism/image/slides/pic1.jpg">
          </li>
          <li>
            <img src="/ism/image/slides/pic2.jpg">
          </li>
          <li>
            <img src="/ism/image/slides/pic3.jpg">
          </li>
        </ol>
      </div>
    </div>
  </div>