{{!-- Slider CDN Links --}}
<link rel="slider stylesheet" href="/ism/css/my-slider.css" />
<script src="/ism/js/ism-2.2.min.js"></script>

<div class="container-fluid">


  <div class="row">
    <div class="home-body">
      <div class="row">



        {{!-- <img src="/public/img/blob-shape.png"> --}}

        <h3 id="aboutUs">Meet your new best friend</h3>
        <p class="aboutUs">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quas quaerat
          molestias rem deleniti harum atque neque, eos ab? Culpa, alias totam, eos neque nesciunt
          quisquam iusto voluptatibus accusantium quidem minima soluta facere non, eum praesentium
          tenetur impedit vitae ratione nisi? Dolore aliquid reprehenderit enim minima deleniti fuga
          praesentium amet?</p>
      </div>

      <div class="row">
        <div class="col-sm-12 text-center home-buttons">
          <button class="btn btn-md">List a dog</button>
          <a href="/dogs"><button id="buyDog" class="btn btn-md">Buy a dog</button></a>
          <button class="btn btn-md">Adopt a dog</button>
        </div>
      </div>
    </div>
  </div>


  <div class="row">

    <div class="ism-slider" id="my-slider">
      <ol>
        <li>
          <img src="/ism/image/slides/pic1.jpg">
        </li>
        <li>
          <img src="/ism/image/slides/pic2.jpg">
        </li>
        <li>
          <img src="/ism/image/slides/pic3.jpg">
        </li>
      </ol>
    </div>

  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script src="../public/js/indvDog.js"></script> --}}