@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
body{

  /* font-family: 'Bebas Neue', cursive; */
  /* font-size:30px; */
}
.blob{
  width:600px;
  height:600px;
  margin: 100px;
  position:relative;
  display:flex;

}
.blob::before{
  width:100%;
  height:100%;
  background-image: url("/img/circles.png");
  background-repeat: no-repeat;
  content:'';
  position:absolute;
  left:0; top:0;
  animation: rotate 30s linear infinite;
}

.blob::after{
  width:100%;
  height:100%;
  background-image: url("/img/blob-shape.png");
  content:'';
  position:absolute;
  left:0; top:0;
  animation: rotate 40s linear infinite;
}
.blob-girl {
position: relative;
left: 600px;
width: 100%;
bottom: 200px;
}

.blob {
position: absolute;
margin-bottom: 300px;
margin-left: 100px;
z-index: 1;
}

.blob-picture {
position: absolute;
margin-top: 200px;
margin-left: 300px;
/* margin-bottom: 300px; */
z-index: 2;
/* animation: rotate 17s linear infinite; */

}




@keyframes rotate{
  0%{
    /* transform:rotate(0deg); */
    
  }
  50%{
    transform:rotate(50deg);
  }
  100%{
    /* transform:rotate(360deg);
    background-image: url("/img/girlanddog.png"); */
  }
}

.blob-style {
    width:300px;
    height:300px;

}
