/* @import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
body{

  font-family: 'Bebas Neue', cursive;
  font-size:30px;
} */

.blob-master {
  margin: 35px 25%;
}

.blob{
  width:600px;
  height:600px;
  /* margin: 100px; */
  position: absolute;;
  display:flex;
  z-index: 1;
}
.blob::before{
  width:100%;
  height:100%;
  background-image: url("/img/paw.png");
  background-repeat: no-repeat;
  content:'';
  /* position:absolute;
  left:-150; top:0; */
  transform: translate3d(10px);

  /* animation: rotate 30s linear infinite; */
  animation: bobble 8s infinite;

}

.blob::after{
  width:100%;
  height:100%;
  background-image: url("/img/DogBlob.png");
  background-repeat: no-repeat;
  content:'';
  position:absolute;
  left:0; top:0;
  /* animation: rotate 40s linear infinite; */
}

@keyframes bobble{
  0% {
    /* transform:rotate(50deg); */
    transform: translate3d(0px, 0px, 0px);
  animation-timing-function: ease-in;
  }
  50% {
    transform: translate3d(0px, 20px, 0px);
  animation-timing-function: ease-out;
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}

.blob-style {
    width:300px;
    height:300px;
}