/* =================================
            Body
================================= */

body {
  background-image: url(../img/bg.png);
}

/* =================================
            NavBar
================================= */

.navbar {
  /* border-bottom: 3px solid #506FB3; */
  background-color: #506FB3;
  height: 100px;
  padding: 20px 35px;
}

/* =================================
            Home Content
================================= */

.home-body {
  background-size: cover;
  background-color: #e6ce96;
  margin: 45px 100px;
  border-radius: 50px;
}

#aboutUsParagraph {
  text-align: left;
  margin: 0 35px;
  width: 150px;
  /* position: relative;
  left: 20%; */
}

#aboutUs {
  margin: 75px 0 20px 0;
  text-align: center;
}

.btn {
  background-color: #506FB3;
  color: white;
  margin: 100px 10px;
  padding: 15px;
} 

.btn-tan {
  background-color: #e6ce96;
  color: #506FB3;
  padding: 5px 13px;
}

/* =================================
            List Dogs
================================= */

#addPageTitle {
  text-align: center;
  margin-top: 75px;
  padding-bottom: 25px;
  border-bottom: 4px solid #506FB3;
}

#formBody {
  width: 50%;
  margin: 25px 25%;
}

form {
  margin-top: 35px;
}

#formGender,
#formSize,
#formGWD,
#formGWK,
#formGWC {
  width: 25%;
}

#formSubmit {
  margin: 15px 0 0 0;
}

/* =================================
            Buy Dogs
================================= */

#dogPageTitle {
  text-align: center;
  margin-top: 75px;
  padding-bottom: 25px;
  border-bottom: 4px solid #506FB3;
}

.dog {
  width: 80%;
  background-color: #e6ce96;
  color: #000;
  padding: 25px;
  margin: 20px 10%;
}

.dog h5 {
  text-decoration: underline;
  margin-bottom: 25px;
}

.dogImg {
  width: 50%;
  border: 8px solid #506FB3;
  float: left;
  margin: 15px 0 0 10%;
}

.dog ul {
  list-style: none;
  display: inline-block;
}

.dog li {
  margin-right: 0.5rem;
  padding: 8px;
}

.dog span {
  font-style: italic;
  font-weight: bold;
}

.dog .btn {
  margin: 20px 10px;
}

.sellerButtons {
  display: block;
  padding: 0;
  margin: 0 34%;
}

/* =================================
            Footer
================================= */

.clear-fix {
  height: 125px;
}

.footer {
  height: 75px;
  width: 100%;
  background-color: #506FB3;
  color: #e6ce96;
  text-align: center;
  padding-top: 25px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #e6ce96;
  text-decoration: none;
}